<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint 
          name="IService1"
          address="http://localhost:8080/Wcf/Service1"
          binding="wsHttpBinding"
          behaviorConfiguration="withMessageInspector"
          contract="TestingTools.WcfSelfHost.Tests.ServiceContract.IService1" />
    </client>
    <services>
      <service
        name="TestingTools.WcfSelfHost.Tests.ServiceContract.Service1"
        behaviorConfiguration="metadataSupport">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Wcf" />
          </baseAddresses>
        </host>
        <endpoint
          address="/Service1"
          binding="wsHttpBinding"
          behaviorConfiguration="withMessageInspector"
          contract="TestingTools.WcfSelfHost.Tests.ServiceContract.IService1"
        />
        <endpoint
           address="mex"
           binding="mexHttpBinding"
           contract="IMetadataExchange"
        />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="withMessageInspector">
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>